<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mits-Attendance</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="full-page">
        <div class="sub-page">
            <nav>
                <ul id='MenuItems'>
                    <li><a href='{{ url_for("home") }}'>Home</a></li>
                </ul>
            </nav>
            <div class="form">
                <form class="login-form" action="{{ url_for('facsignin')}}" method="POST">
			<center><h1 class="main-heading">Login</h1></center>
                    <input type="text" name="login-email"placeholder="👤 User name or Email"/ required>
                    <input type="password" name="login-pass" placeholder="🔒 password"/ required>
                    <button>LOGIN</button>
                    <div class="from_message">
                        <p class="message">Don't have an Account? <a href="#">Register</a></p>
                    </div>
                </form>
                <form class="register-form" action="{{ url_for('facsignup')}}" method="POST">
                    <center><h1 class="main-heading">Signup</h1></center>
                    <input type="text" name="regis-email" placeholder="✉  Enter Your Email ID"/ required>
                    <input type="password" name="regis-pass" placeholder="🔒 Password"/ required>
                    <button>REGISTER</button>
                    <div class="from_message">
                        <p class="message">Already have an Account? <a href="#">Login</a>
                        </p>
                    </div>
                </form>
            </div>
            <!-- <div class="row">
                <div class="col-1">
                    <div class="form-box">
	                </div>
                </div>
            </div> -->
        </div>
    </div>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'>
    </script>
    <script>
        $('.message a').click(function(){$('form').animate({height: "toggle",opacity: "toggle"},"slow");});
    </script>
</body>
</html>
